@import "vars";
@import "global";

.header {
    position: relative;
    height: 100vh;
}

.header__slider {
    &-item {
        height: 100vh;
        background-image: url(../images/bg-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        text-align: right;
    }
}

.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 96px;
    color: #fff;
    text-transform: uppercase;
    &-title {
        font-weight: 700;
        font-size: 80px;
        // line-height: 86px;

        margin-bottom: 28px;
    }
    &-text {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }
}

.slider-item__info-suptext {
    margin-bottom: 8px;
}

.slider-item__info-text {
    margin-bottom: 10px;
}

.slider-item__info-suptitle {
    margin-bottom: 8px;
}

.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 5;
    cursor: pointer;
}

.slider-arrows__left {
    right: 115px;
}

.slider__dots {
    position: absolute;
    right: 50px;
    bottom: 35px;
    max-width: 920px;
    width: 100%;
    color: #fff;
    .slick-current {
        .dots-box {
            border-top: 4px solid $green;
        }
    }
}

.dots-box {
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 6px;
    &__number {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
    }
    &__name {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
    }
}

.header__title {
    position: absolute;
    font-weight: 700;
    font-size: 200px;
    line-height: 156px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.07;
    top: 0;
    left: 0;
    z-index: 3;
}

.header__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    height: 100vh;
    text-align: center;
}

.menu {
    padding-top: 30px;
    &__list {
        color: #fff;
        span {
            display: block;
            color: #fff;
            font-size: 12px;
            letter-spacing: 3px;
            padding-top: 6px;
            margin-bottom: 22px;
            text-transform: capitalize;
        }
    }
}

.header__date {
    font-size: 70px;
    line-height: 64px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    span {
        font-size: 16px;
        line-height: 19px;
        display: block;
        font-weight: 300;
        padding-top: 17px;
        letter-spacing: 1.4px;
    }
}

.header__search {
    text-align: center;
    margin-bottom: 20px;
}

.header__location {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    padding-left: 17px;
    &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 14px;
        left: 43px;
        top: 6px;
        background-image: url(../images/marker-map.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: translateY(-50%);
    }
}

.header__map {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.arrow-down {
    position: absolute;
    z-index: 3;
    bottom: 40px;
    left: 300px;
}

.animate__fadeIn.animate__delay-surf {
    animation-delay: 1s;
}

@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}

.animated__path {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: stroke 4s infinite 6s;
}

.surf {
    padding: 160px 0 120px;
    background-image: url("../images/bigMap.png");
    background-repeat: no-repeat;
    background-position: right 200px;
    background-size: auto;
}

.surf__suptitle {
    text-align: right;
    margin-top: -86px;
    margin-right: 80px;
}

.surf__slider {
    padding-top: 110px;
    .slider-arrows {
        top: 60px;
        opacity: 0.25;
    }
    .slick-slide:nth-child(4n + 1) {
        .serf-box {
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3) {
        .serf-box {
            margin-top: 90px;
        }
    }
    .slick-current {
        .serf-box__inner {
            background-color: rgba(28, 33, 33, 0.3);
        }
        .serf-box__inner-btn {
            display: block;
        }
    }
}

.serf-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.serf-box__inner {
    min-height: 750px;
    background-color: rgba(28, 33, 33, 0.85);
    position: relative;
    top: 0;
    bottom: 0;
    transition: all 0.5s;
    &:hover {
        background-color: rgba(28, 33, 33, 0.3);
        .serf-box__inner-btn {
            display: block;
        }
    }
    &-title {
        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
        padding: 72px 0 10px 40px;
        width: 139px;
    }
    &-location {
        font-size: 18px;
        line-height: 22px;
        transform: rotate(-90deg);
        letter-spacing: 8px;
        width: 0;
        height: 0;
        position: absolute;
        left: 40px;
        bottom: 80px;
        white-space: nowrap;
        span {
            font-weight: 300;
        }
    }
    &-btn {
        position: absolute;
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
        display: none;
    }
}

.slider-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url("../images/world-map-dots.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    .slick-list {
        min-height: 635px;
    }
    .slick-current {
        .slider-dots__content {
            display: block;
        }
    }
}

.slider-dots__circle {
    width: 24px;
    height: 24px;
    background-color: $green;
    border-radius: 50%;
}

.slider-dots__content {
    display: none;
    width: 285px;
    padding: 28px 31px 0px 32px;
    background-color: rgba(15, 16, 16, 0.7);
    border-radius: 20px;
    position: absolute;
    bottom: 35px;
    transform: translateX(-50%);
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 20px solid $green;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        bottom: -20px;
        left: 50%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.slider-dots__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.slider-dots__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-color: $green;
        width: 81px;
        height: 1px;
        bottom: 0;
        left: 0;
    }
}

.slider-dots__link {
    padding-top: 5px;
}

.slider-dots__suptitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

.slider-dots__item {
    text-align: center;
    img {
        margin-bottom: 7px;
        margin-left: 10px;
    }
}

.slider-dots__number {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 5px;
}

.slider-dots__name {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
}

.slider-dots {
    position: relative;
}

.slider-dots--1 {
    top: 335px;
    left: 0;
    .slider-dots__content {
        transform: translateX(0);
        &::before {
            left: 0;
        }
    }
}
.slider-dots--2 {
    top: 295px;
    left: 0;
    .slider-dots__circle {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/marker-map.svg);
            width: 14px;
            height: 17px;
            background-repeat: no-repeat;
            background-size: cover;
            right: -15px;
            top: -20px;
            opacity: 0.5;
        }
    }
}
.slider-dots--3 {
    top: 340px;
    left: 25px;
}
.slider-dots--4 {
    top: 470px;
    left: -25px;
}
.slider-dots--5 {
    top: 235px;
    left: -65px;
}
.slider-dots--6 {
    top: 550px;
    left: -120px;
}
.slider-dots--7 {
    top: 375px;
    left: -95px;
}
.slider-dots--8 {
    top: 470px;
    left: 35px;
    .slider-dots__content {
        transform: translateX(-60%);
        &::before {
            left: 60%;
        }
    }
}
