@import "vars";
@import "global";

.header {
    position: relative;
    height: 100vh;
}

.header__slider {
    &-item {
        height: 100vh;
        background-image: url(../images/bg-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        text-align: right;
    }
}

.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 96px;
    color: #fff;
    text-transform: uppercase;
    &-title {
        font-weight: 700;
        font-size: 80px;
        // line-height: 86px;

        margin-bottom: 28px;
    }
    &-text {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }
}

.slider-item__info-suptext {
    margin-bottom: 8px;
}

.slider-item__info-text {
    margin-bottom: 10px;
}

.slider-item__info-suptitle {
    margin-bottom: 8px;
}

.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 5;
    cursor: pointer;
}

.slider-arrows__left {
    right: 115px;
}

.slider__dots {
    position: absolute;
    right: 50px;
    bottom: 35px;
    max-width: 920px;
    width: 100%;
    color: #fff;
    .slick-current {
        .dots-box {
            border-top: 4px solid $green;
        }
    }
}

.dots-box {
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 6px;
    &__number {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
    }
    &__name {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
}

.header__title {
    position: absolute;
    font-weight: 700;
    font-size: 200px;
    line-height: 156px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.07;
    top: 0;
    left: 0;
    z-index: 3;
}

.header__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    height: 100vh;
    text-align: center;
}

.menu {
    padding-top: 30px;
    &__list {
        color: #fff;
        span {
            display: block;
            color: #fff;
            font-size: 12px;
            letter-spacing: 3px;
            padding-top: 6px;
            margin-bottom: 22px;
        }
    }
}

.header__date {
    font-size: 70px;
    line-height: 64px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    span {
        font-size: 16px;
        line-height: 19px;
        display: block;
        font-weight: 300;
        padding-top: 17px;
        letter-spacing: 1.4px;
    }
}

.header__search {
    text-align: center;
    margin-bottom: 20px;
}

.header__location {
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    padding-left: 17px;
    &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 14px;
        left: 43px;
        top: 6px;
        background-image: url(../images/marker-map.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: translateY(-50%);
    }
}

.header__map {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.arrow-down {
    position: absolute;
    z-index: 3;
    bottom: 40px;
    left: 300px;
}

.animate__fadeIn.animate__delay-surf {
    animation-delay: 1s;
}

@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}

.animated__path {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: stroke 4s infinite 6s;
}
